.header__lang-link {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 6px;
    transition: .5s;
  }

@media screen and (max-width: 426px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}