.page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1184px;
    background-color: #2A2C2F;
    margin: 0 auto;
    padding: 28px 0 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .page__header {
        max-width: 928px;
        min-height: 52px;
        padding: 28px 24px 0;
    }
}

@media screen and (max-width: 768px) {
    .page__header {
        padding: 28px 24px 0;
    }
}

@media screen and (max-width: 427px) {
    .page__header {
        max-width: 340px;
        padding-top: 16px;
    }
}

@media screen and (max-width: 320px) {
    .page__header {
        width: 288px;
        padding: 16px 0px 0;
    }
}