.place__image {
    max-width: 460px;
    padding-right: 40px;
    object-fit: contain;
    align-self: flex-start;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        padding-right: 32px;
    }
}

@media screen and (max-width: 950px) {
    .place__image {
        max-width: 340px;
        padding-right: 28px;
    }
}

@media screen and (max-width: 750px) {
    .place__image {
        max-width: 100%;
        padding: 0;
        align-self: center;
    }
}