.header__lang-link_english {
    width: 29px;
    height: 28px;
    text-decoration: none;
    transition: .5s;
}

.header__lang-link_english:hover {
      opacity: .5;
}

@media screen and (max-width: 320px) {
    .header__lang-link_english{
        max-width: 22px;
        max-height: 20px;
    }
}