.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 985px;
    margin: 0 auto;
    color: white;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 930px;
    }
}