.cover__subtitle {      
    max-width: 360px;
    max-height: 66px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-left: 412px;
}

@media (max-width: 1279px) {
    .cover__subtitle {
        margin-left: 332px;
    }
}

@media (max-width: 1023px) {
    .cover__subtitle {
        margin-left: 204px;
    }
}

@media (max-width: 767px) {
    .cover__subtitle {
        margin: 0;
        margin-left: 16px;
        max-height: 48px;
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}