.place__paragraphs {
    display: flex;
    flex-direction: column;
    padding-bottom: 66px;
    max-width: 484px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .place__paragraphs {
        padding: 0;
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        padding: 0;
        max-width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width: 426px) {
    .place__paragraphs {
        padding: 0;
        max-width: 288px;
        margin: 0 auto 0;
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        padding: 0;
        max-width: 288px;
        margin: 0 auto 0;
        font-size: 16px;
    }
}