.place__paragraphs {
    display: flex;
    max-width: 485px;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        max-width: 456px;
    }
}

@media screen and (max-width: 950px) {
    .place__paragraphs {
        max-width: 352px;
    }
}

@media screen and (max-width: 750px) {
    .place__paragraphs {
        max-width: 100%;
        padding: 32px 16px 0;
    }
}