.page__intro {
    width: 100%;
    max-width: 690px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin: 92px 442px 92px 148px;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
    .page__intro {
        width: 100%;
        max-width: 690px;
        margin-top: 92px;
        margin-bottom: 92px;
        margin-left: 48px;
        margin-right: auto;
    }    
}

@media screen and (max-width: 768px) {
    .page__intro {
        width: 100%;
        max-width: 670px;
        margin: 88px auto;        
    }   
}
@media screen and (max-width: 720px) {
    .page__intro {
        width: 100%;
        margin: 88px auto;        
    }   
}

@media screen and (max-width: 690px) {
    .page__intro {
        width: 100%;
        max-width: 689px;
        margin: 88px auto;        
    }   
}
@media screen and (max-width: 426px) {
    .page__intro {
        width: 100%;
        max-width: 288px;
        margin: 64px 16px;
    }      
}

@media screen and (max-width: 320px) {
    .page__intro {
        width: 100%;
        max-width: 288px;
        margin: 64px 16px;
    } 
}