.lead__image {    
    max-width: 984px;
    max-height: 615px;
    margin: 0 auto 0;    
}
@media screen and (max-width: 1024px) {
    .lead__image {    
        max-width: 928px;
        max-height: 580px;
        margin: 0 auto;
        margin-top: 56px;   
    }
}

@media screen and (max-width: 950px) {
    .lead__image {            
        width: 100%;
        max-height: 480px;
        margin: 0 auto;
        margin-top: 56px;   
    }
   
}

@media screen and (max-width: 426px) {
    .lead__image {    
        max-width: 320px;
        max-height: 200px;
        margin: 0 auto;
        margin-top: 40px;   
    }
     
}

@media screen and (max-width: 320px) {
    .lead__image {    
        max-width: 320px;
        max-height: 200px;
        margin: 0 auto;
        margin-top: 40px;   
    }
}