.lead__subtitle {
    max-width: 640px;
    height: 72px;
    margin: 0 auto 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        max-width: 640px;
        max-height: 72px;
        margin: 0 auto 0;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        max-width: 640px;
        max-height: 72px;
        margin: 0 auto 0;
    }
}

@media screen and (max-width: 426px) {
    .lead__subtitle {
        max-width: 288px;
        max-height: 40px;
        margin: 0 auto 0;
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        max-height: 40px;
        margin: 0 auto 0;
        font-size: 16px;
        line-height: 20px;
    }
}