.place__link {
    max-width: 456px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: .5s;
}

.place__link:hover {
    opacity: .5;
}

@media screen and (max-width: 1200px) {
    .place__link {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__link {
        max-width: 456px;
    }
}

@media screen and (max-width: 426px) {
    .place__link {
        max-width: 288px;
    }
}

@media screen and (max-width: 320px) {
    .place__link {
        max-width: 288px;
    }
}