.page__lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px auto 0px;
    max-width: 984px;
    background-color: #2A2C2F;
    color:#FFFFFF;
}

@media screen and (max-width: 1024px) {
    .page__lead {
      max-width: 928px;
      margin: 48px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .page__lead {
        max-width: 768px;
        max-height: 862px;
        margin: 48px auto 0;
    }
}
/*
@media screen and (max-width: 720px) {
    .page__lead {
        max-width: 768px;
        max-height: 862px;
        margin: 48px auto 0;
    }
}

@media screen and (max-width: 426px) {
    .page__lead {
        max-width: 320px;
        max-height: 406px;
        margin: 48px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .page__lead {
        max-width: 320px;
        max-height: 406px;
        margin: 48px auto 0;
    }
}*/