.page__places {
    margin: 92px 148px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;   
}
@media screen and (max-width: 1200px) {
    .page__places {
        margin: 92px 48px;                   
    }
}

@media screen and (max-width: 768px) {
    .page__places {    
        margin: 88px 24px 90px;  
    }   
}

@media screen and (max-width: 426px) {
    .page__places {    
        margin: 64px auto 66px;  
    } 
     
}

@media screen and (max-width: 320px) {
    .page__places {    
        margin: 64px auto 66px;  
    }  
}