.header__container {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1184px;
    min-height: 52px;
    background-color: #2A2C2F;
    margin: 0;
    padding: 28px 0 0;
    box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
    .header__container {
        max-width: 928px;
        min-height: 52px;
        
    }
}
@media screen and (max-width: 768px) {
    .header__container {
        /*max-width: 720px;
        width: 720px;*/
        min-height: 52px;
        padding: 28px 24px 0;
    }
}

@media screen and (max-width: 426px) {
    
    .header__container {
        max-width: 340px;
       /* width: 340px;*/
        min-height: 52px;
        padding-top: 16px;
    }
}
@media screen and (max-width: 320px) {   

    .header__container {
       /* min-width: 288px;*/
        width: 288px;
        min-height: 42px;
        padding: 16px 0px 0;
    }
}