.cover__background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-decoration: none;
    width: 100%;
    min-height: 740px;
    align-items: center;
}

@media screen and (max-width: 1185px) {
    .cover__background {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        min-height: 200px;
    }
}