.cover__title {
    max-width: 560px;
    margin: 245px 312px 32px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media (max-width: 1279px) {
    .cover__title {
        margin: 195px 0 32px 232px;
    }
}

@media (max-width: 1023px) {
    .cover__title {
        margin: 115px 0 32px 104px;
    }
}

@media (max-width: 767px) {
    .cover__title {
        margin: 33px 0 16px 16px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}