.lead__container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px auto 0px;
    max-width: 984px;
    background-color: #2A2C2F;
    color:#FFFFFF;
}
@media screen and (max-width: 1024px) {
    .lead__container {
      max-width: 928px;
      margin: 48px auto 0;
    }  
}

@media screen and (max-width: 768px) {
    .lead__container {
        max-width: 768px;
        max-height: 862px;
        margin: 48px auto 0;
    }     
}

@media screen and (max-width: 720px) {
    .lead__container {
        max-width: 768px;
        max-height: 862px;
        margin: 48px auto 0;       
    }   
}

@media screen and (max-width: 426px) {
    .lead__container {
        max-width: 320px;
        max-height: 406px;
        margin: 48px auto 0;
    }      
}

@media screen and (max-width: 320px) {
    .lead__container {
        max-width: 320px;
        max-height: 406px;
        margin: 48px auto 0;
    }  
}