.place {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
    .place {        
        padding: 0 0 80px 0;
    }
}

@media screen and (max-width: 768px) {
    .place {
        padding-bottom: 82px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        padding-bottom: 50px;
    }
}