.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 984px;
    column-gap: 40px;
    row-gap: 48px;
    padding: 0;
    margin-top: 80px;
    flex-wrap: wrap;
    background-color: #2A2C2F;
    align-items: center;
}

.place:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 1200px) {
    .place {
        max-width: 984px;
        column-gap: 48px;
        row-gap: 32px;
        margin-top: 80px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        column-gap: 28px;
        row-gap: 48px;
        margin-top: 73px;
    }
}

@media screen and (max-width: 620px) {
    .place {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto 0;
        max-width: 100%;
        row-gap: 32px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto 0;
        max-width: 320px;
        row-gap: 32px;
        margin-top: 50px;
    }
}
