.place__website {
    max-width: 456px;
    list-style-type: none;
    color: #FFFFFF;
    margin-top: 106px;
}
@media screen and (max-width: 1200px) {
    .place__website {
        max-width: 456px;
        margin-top: 106px;
    }
}

@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
        margin-top: 46px;
    }   
}

@media screen and (max-width: 620px) {
    .place__website {
        max-width: 352px;
        margin-top: 0;
    }     
}

@media screen and (max-width: 426px) {
    .place__website {
        max-width: 288px;
        margin-left: 16px;
        margin-top: 0;
    }
     
}

@media screen and (max-width: 320px) {
    .place__website {
        max-width: 288px;
        margin-left: 16px;
        margin-top: 0;
    }
}