.page__footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    background-color: #2a2c2f;
    margin: 0;
    align-self: flex-start;
}

@media (max-width: 1279px) {
    .page__footer {
        margin: 92px 0 24px 0;
    }
}

@media (max-width: 1023px) {
    .page__footer {
        margin: 92px 24px 24px 24px;
    }
}

@media (max-width: 767px) {
    .page__footer {
        margin: 64px 118px 24px 16px;
        justify-content: none;
        flex-direction: column;
    }
}