.page__photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    gap: 16px;
    max-width: 1184px;
    background-color: #2A2C2F;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .page__photo-grid {
        grid-template-columns: repeat(3, 300px);
        gap: 14px;
        margin: 92px 0 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .page__photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 352px);
        gap: 16px;
        max-width: 720px;
        margin: 88px 0 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .page__photo-grid {
        grid-template-columns: repeat(1, 288px);
        gap: 12px;
        margin: 64px 0 0 16px;
    }
}